<style>
	html, body {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
		color: rgb(119, 119, 119);
	}
	table, tr, td {
		padding: 0;
		vertical-align: top;
		border-spacing: 0;
		color: rgb(119, 119, 119);
	}
	.main {
		width: 100%;
		height: 440px;
		background-color: rgb(238, 238, 238);
		border-spacing: 0;
	}
	tbody.main {
		vertical-align: top;
	}
	td.main {
		text-align: center;
		vertical-align: top;
	}
	.top-line {
		height: 2px;
		width: 100%;
		background-color: yellow;
	}
	.navbar {
		border-top: 1px solid rgb(231, 231, 231);
		border-bottom: 1px solid rgb(231, 231, 231);
		background-color: rgb(248, 248, 248);
		height: 5px;
		width: 100%;
	}
	.navbar table.navbar tr td {
		padding: 15px;
		text-transform: uppercase;
		text-align: center;
	}
	table.inner {
		width: 600px;
		background-color: white;
		border-right: solid 1px rgb(221, 221, 221);
		border-left: solid 1px rgb(221, 221, 221);
	}
	table.content {
		width: 100%;
	}
	td.inner {
		padding: 5px;	
	}
	.line-items {
		border-bottom: 1px solid gray;
	}
	table.order-summary {
		padding: 20px;
		background-color: azure;
	}
	tr.line-item {
		margin-bottom: 5px;
	}
	tr.line-item td {
		border-bottom: 2px solid grey;
		padding: 5px;
	}
	.line-item {
		border: none;
	}
	td.order-total {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	table.order-total {
		background-color: whitesmoke;
		padding: 5px;
	}
	table.order-total tr {
		padding-bottom: 5px;	
	}
	tr.header td {
		padding-left: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
	}
	.content td.inner {
		padding: 15px;
	}
	tr.footer {
		width: 100%;
		background-color: rgb(248, 248, 248);
	}
	table.footer {
		border-top: solid 1px rgb(221, 221, 221);
		min-height: 40px;
		width: 100%;
	}
	table.footer td{
/*		padding:5px;*/
	}
	table.address {
		background-color: white;
		width: 100%;
		text-align: center;
		padding: 10px;
		color: black;
	}
</style>

<table class="main">
	<tbody class="main">
		<tr>
			<td align="center">
				<table class="top-line">
					<tr><td></td></tr>
				</table>
				
				<table class="inner">
					
					<tr class="header">
						<td colspan=2><%= image_tag("copiersflorida_logo.png", width: "300", class: "logo") %></td>
					</tr>
					
					<tr class="navbar">
						<td>
							<table class="navbar">
								<tr><td>Shipment Confirmation</td></tr>
							</table>
						</td>
					</tr>
					
					<tr class="content">
						<td class="inner">
							<table>
								<tr>
									<td>
										<p><%= @shipment.order.billing_address.firstname? ? @shipment.order.billing_address.firstname : Spree.t('shipment_mailer.shipped_email.dear_customer') %></p>
										
										<p><%= Spree.t('shipment_mailer.shipped_email.instructions') %></p>
										<p><%= Spree.t('shipment_mailer.shipped_email.shipment_summary') %></p>
									</td>
								</tr>
							</table>
							
							<table class="order-summary">
								<% @shipment.manifest.each do |item| %>
								<tr class="line-item">
									<td><%= item.variant.sku %></td>
									<td>
									<%= raw(item.variant.product.name) %>
									<br/>
									<%= raw(item.variant.options_text) -%>
									</td>
									<td align="right"><%=item.quantity%></td>
								</tr>
								<% end %>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td class="order-total">
										<table class="order-total">
											<tr align="right">
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											
											<tr align="right">
												<td>Tracking Information</td>
												<td></td>
												<td colspan=2><% if @shipment.tracking_url %><%= link_to @shipment.tracking, @shipment.tracking_url %><% else %><%= @shipment.tracking %></td>
											</tr>
										</table>
									</td>
								</tr>
								
							</table>
							
							<table>
								<tr>
									<td>
										<p><%= Spree.t('shipment_mailer.shipped_email.thanks') %></p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr class="footer">
						<td>
						<table class="footer">
							<tr>
								<td>
									<table class="address">
										<tr>
											<td align="center">
												<p>&copy; 2015 CopiersFlorida.com &#8226; 2957 NW 27th Street, Building 12 Fort Lauderdale, FL 33311
													<br/>
												(855) 436-2877 / (855) 436-2870 &#8226; M-F 9:00am - 6:00pm EST</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>