<% source = payment.source %>

<% if source.is_a?(Spree::CreditCard) %>
	<span class="cc_type">
	
		<% unless (cc_type = source.cc_type).blank? %>
			<%= image_tag "dark_color/#{cc_type}.png", :style => "height:60px" %>
		<% end %>
	
		<span class="cc_name"><%= source.name %></span><br/>
	
		<% if source.last_digits %>
			<% if cc_type == "american_express" %>
				<span class="cc_number">****<%= source.last_digits %></span><br/>
			<% else %>
				<span class="cc_number">****<%= source.last_digits %></span><br/>
			<% end %>
		<% end %>
		
		<span class="cc_expiration"><%= "#{source.month} / #{source.year}" %></span>
	
	</span>
	
<% else %>
	<%= content_tag(:span, payment.payment_method.name) %>
<% end %>