<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
	
	<tr class="<%= cycle('', 'alt') %> line-item">
		
		<td class="cart-item-image" data-hook="cart_item_image">
		
			<div class="col-md-3 col-sm-4">
				<% if variant.images.length == 0 %>
					<%= link_to small_image(variant.product), variant.product %>
					<% else %>
					<%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
				<% end %>
			</div>
		
			<div class="col-md-9 col-sm-8">
			
				<h4><%= link_to line_item.name, product_path(variant.product) %></h4>
				<%= variant.options_text %>
				<span class="line-item-description" data-hook="line_item_description">
					<%= line_item_description_text(line_item.description) %>
				</span>
			
				<% if line_item.insufficient_stock? %>
				<span class="out-of-stock">
					<%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
				</span>
				<% end %>
			
			</div>
			
		</td>
		
		<td class="cart-item-price" data-hook="cart_item_price">
			<%= line_item.single_money.to_html %>
		</td>
		
		<td class="cart-item-quantity text-center" data-hook="cart_item_quantity">
			<%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity form-control", :size => 2 %>
		</td>
		
		<td class="cart-item-total text-right" data-hook="cart_item_total">
			<%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
		</td>
		
  </tr>
<% end -%>