<fieldset id="order_summary" data-hook>
	<h2 class="page-header"><%= Spree.t(:order_number, :number => @order.number) %></h2>
	<% if order_just_completed?(@order) %>
	<strong><%= Spree.t(:thank_you_for_your_order) %></strong>
	
	<!-- START Google Trusted Stores Order -->
	<div id="gts-order" style="display:none;" translate="no">
	
		<!-- start order and merchant information -->
		<span id="gts-o-id"><%= @order.number %></span>
		<span id="gts-o-domain"><%= @current_store.url %></span>
		<span id="gts-o-email"><%= @order.email %></span>
		<span id="gts-o-country">United States</span>
		<span id="gts-o-currency"><%= @order.currency %></span>
		<span id="gts-o-total"><%= @order.total %></span>
		<span id="gts-o-discounts"><%= @order.promo_total %></span>
		<span id="gts-o-shipping-total"><%= @order.shipment_total %></span>
		<span id="gts-o-tax-total"><%= @order.additional_tax_total %></span>
		<span id="gts-o-est-ship-date"><%= 2.business_days.from_now.strftime('%F') %></span>
		<!-- <span id="gts-o-est-delivery-date">ORDER_EST_DELIVERY_DATE</span> -->
		<!-- <span id="gts-o-has-preorder">HAS_BACKORDER_PREORDER</span> -->
		<!-- <span id="gts-o-has-digital">HAS_DIGITAL_GOODS</span> -->
		<!-- end order and merchant information -->
		
		<!-- start repeated item specific information -->
		<!-- item example: this area repeated for each item in the order -->
		<% @order.line_items.each do |item| %>
		<span class="gts-item">
			<span class="gts-i-name"><%= item.variant.name %></span>
			<span class="gts-i-price"><%= item.price %></span>
			<span class="gts-i-quantity"><%= item.quantity %></span>
			<!-- 
			<span class="gts-i-prodsearch-id">ITEM_GOOGLE_SHOPPING_ID</span>
			<span class="gts-i-prodsearch-store-id">ITEM_GOOGLE_SHOPPING_ACCOUNT_ID</span>
			<span class="gts-i-prodsearch-country">ITEM_GOOGLE_SHOPPING_COUNTRY</span>
			<span class="gts-i-prodsearch-language">ITEM_GOOGLE_SHOPPING_LANGUAGE</span>
			-->
		</span>
		<% end %>
		<!-- end item 1 example -->
		<!-- end repeated item specific information -->
		
	</div>
	<!-- END Google Trusted Stores Order -->
	
	<% end %>
	
	<p data-hook="links">
	<%# link_to Spree.t(:back_to_store), spree.root_path, :class => "btn btn-default" %>
	<% unless order_just_completed?(@order) %>
		<% if try_spree_current_user && respond_to?(:spree_account_path) %>
			<%= link_to Spree.t(:my_account), spree_account_path, :class => "btn btn-default" %>
		<% end %>
	<% end %>
	</p>
	
	<div id="order" data-hook>
	<%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
	</div>
</fieldset>