<style>
	
	.tabs-below > .nav-tabs,
	.tabs-right > .nav-tabs,
	.tabs-left > .nav-tabs {
	  border-bottom: 0;
	}

	.tab-content > .tab-pane,
	.pill-content > .pill-pane {
	  display: none;
	}

	.tab-content > .active,
	.pill-content > .active {
	  display: table;
	}

	.tabs-below > .nav-tabs {
	  border-top: 1px solid #ddd;
	}

	.tabs-below > .nav-tabs > li {
	  margin-top: -1px;
	  margin-bottom: 0;
	}

	.tabs-below > .nav-tabs > li > a {
	  -webkit-border-radius: 0 0 4px 4px;
	     -moz-border-radius: 0 0 4px 4px;
	          border-radius: 0 0 4px 4px;
	}

	.tabs-below > .nav-tabs > li > a:hover,
	.tabs-below > .nav-tabs > li > a:focus {
	  border-top-color: #ddd;
	  border-bottom-color: transparent;
	}

	.tabs-below > .nav-tabs > .active > a,
	.tabs-below > .nav-tabs > .active > a:hover,
	.tabs-below > .nav-tabs > .active > a:focus {
	  border-color: transparent #ddd #ddd #ddd;
	}

	.tabs-left > .nav-tabs > li,
	.tabs-right > .nav-tabs > li {
	  float: none;
	}

	.tabs-left > .nav-tabs > li > a,
	.tabs-right > .nav-tabs > li > a {
	  min-width: 74px;
	  margin-right: 0;
	  margin-bottom: 3px;
	}

	.tabs-left > .nav-tabs {
	  float: left;
	  margin-right: 19px;
	  border-right: 1px solid #ddd;
	}

	.tabs-left > .nav-tabs > li > a {
	  margin-right: -1px;
	  -webkit-border-radius: 4px 0 0 4px;
	     -moz-border-radius: 4px 0 0 4px;
	          border-radius: 4px 0 0 4px;
	}

	.tabs-left > .nav-tabs > li > a:hover,
	.tabs-left > .nav-tabs > li > a:focus {
	  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
	}

	.tabs-left > .nav-tabs .active > a,
	.tabs-left > .nav-tabs .active > a:hover,
	.tabs-left > .nav-tabs .active > a:focus {
	  border-color: #ddd transparent #ddd #ddd;
	  *border-right-color: #ffffff;
	}

	.tabs-right > .nav-tabs {
	  float: right;
	  margin-left: 19px;
	  border-left: 1px solid #ddd;
	}

	.tabs-right > .nav-tabs > li > a {
	  margin-left: -1px;
	  -webkit-border-radius: 0 4px 4px 0;
	     -moz-border-radius: 0 4px 4px 0;
	          border-radius: 0 4px 4px 0;
	}

	.tabs-right > .nav-tabs > li > a:hover,
	.tabs-right > .nav-tabs > li > a:focus {
	  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
	}

	.tabs-right > .nav-tabs .active > a,
	.tabs-right > .nav-tabs .active > a:hover,
	.tabs-right > .nav-tabs .active > a:focus {
	  border-color: #ddd #ddd #ddd transparent;
	  *border-left-color: #ffffff;
	}
	
	.tab-content {
		display: table;
	}
	
	ul.nav.tabs {
		width: 20%;
	}
	.tab-content {
		width: 80%;
	}
	.tab-pane {
		width: 100%;
	}
</style>

<div class="col-md-12" id="payment">

	<%= yield :errors %>
	
	<div class="tabbable tabs-left">
		
		<ul class="nav nav-tabs">
			<% @order.available_payment_methods.each_with_index do |method, i| %>
			<%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
			<script>
				$("input[type=radio]#order_payments_attributes__payment_method_id_<%= method.id %>").hide()
				$("a[href=#<%= method.id %>]").click(function(e){
					$("input[type=radio]#order_payments_attributes__payment_method_id_<%= method.id %>").prop('checked', true)
					// $("input[type=radio]#order_payments_attributes__payment_method_id_<%= method.id %>").show()
				})
			</script>
			<script>
			$.getScript('/assets/spree/frontend/checkout/payment.js', function() {});
			</script>
			<li <%= i == 0 ? "class=active" : "" %>><a href="#<%= method.id %>" data-toggle="tab"><%= method.name %></a></li>
			<% end %>
		</ul>
		<div class="tab-content">
			<% @order.available_payment_methods.each_with_index do |method, i| %>
			<div class="tab-pane <%= i == 0 ? "active" : "" %>" id="<%= method.id %>"><%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %></div>
			<% end %>
			
			<!-- Button trigger modal -->
			<p class="text-right">
				<button type="button" class="btn btn-link coupon-link" data-toggle="modal" data-target="#myModal">
				  Have a Coupon Code?
				</button>
			</p>
		</div>
		
	</div>
</div>
<script>Spree.disableSaveOnClick();</script>