<div class="well well-sm text-center">
	
	<h3 class="text-center cart-summary">Cart Summary</h3>
	
	Order #<%= @order.number %>
	
	<table class="table">
		
		<tr class="cart-subtotal">
			<td class="text-left"><%= Spree.t(:cart_subtotal, :count => @order.line_items.sum(:quantity)) %></td>
			<td class="text-right"><%= @order.display_item_total %></td>
		</tr>
		
		<%= render "spree/orders/adjustments" %>
	
		<tr class="cart-total">
			<td class="text-left"><h4><%= Spree.t(:total) %></h4></td>
			<td class="text-right"><h4><%= @order.display_total %></h4></td>
		</tr>
		
	</table>
	
	<% if @order.state == "address" %>
	
		<%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
		<%= label_tag :save_user_address, Spree.t(:save_my_address) %>
	
		<%= button_tag :class => 'checkout btn btn-success btn-lg btn-block', :id => 'checkout-link', :name => 'checkout', :form => "checkout_form_#{@order.state}" do %>
Proceed To Delivery!
		<% end %>
		
	<% elsif @order.state == "delivery" %>
	
		<%= button_tag :class => 'checkout btn btn-success btn-lg btn-block', :id => 'checkout-link', :name => 'checkout', :form => "checkout_form_#{@order.state}" do %>
Proceed To Payment!
		<% end %>
		
	<% elsif @order.state == "payment" %>
			
		<%= button_tag :class => 'checkout btn btn-success btn-lg btn-block', :id => 'checkout-link', :name => 'checkout', :form => "checkout_form_#{@order.state}" do %>
	Proceed To Confirm!
		<% end %>
		<script>Spree.disableSaveOnClick();</script>
	<% elsif @order.state == "confirm" %>
	
		<%= button_tag :class => 'checkout btn btn-success btn-lg btn-block', :id => 'checkout-link', :name => 'checkout', :form => "checkout_form_#{@order.state}" do %>
	Place Order!
		<% end %>
		
	<% end %>	
	
</div>