<h2 class="page-header">Secure Checkout&nbsp;<br/><small class="gold"><span class="glyphicon glyphicon-lock gold"></span> This is a secure 128-bit SSL encrypted page.</small></h2>


<div class="panel-group col-md-12" id="checkout" data-hook>
	
	<% @order.checkout_steps[0...4].each do |state| %>
	
		<%= render :partial => "form_wrapper", :locals => {:order => @order, :state => state} %>
	
	<% end %>
	
</div>

<div class="col-md-3" style="display:none">
	<%= render :partial => "summary", :locals => {:order => @order, :state => @order.state}%>
</div>

<script>
Spree.current_order_id = "<%= @order.number %>"
Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			
			<div id="myModalBody" class="modal-body" data-hook='coupon_code'>
				<%= render :partial => "spree/checkout/remote/login" %>
			</div>
			
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
