<div class="col-md-offset-1 col-md-4">
	<h4><strong>Existing Customers</strong></h4>
	
	<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
		<div class="form-group">
			<label>Email</label>
			<%= f.email_field :email, :class => 'form-control', :tabindex => 1, :placeholder => Spree.t(:email) %>
		</div>
		<div class="form-group">
			<label>Password</label>
			<%= f.password_field :password, :class => 'form-control', :tabindex => 2, :placeholder => Spree.t(:password) %>
		</div>
		
		<div class="checkbox">
			<label>
				<%= f.check_box :remember_me %>
				<%= f.label :remember_me, Spree.t(:remember_me) %>
			</label>
		</div>
		<div class="form-group">
			<%= f.submit Spree.t(:login), :class => 'btn btn-lg btn-success btn-block', :tabindex => 3%>
		</div>
	<% end %>
	
	<%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
</div>

<div class="col-md-offset-1 col-md-4">
	<h4><strong>New To CopiersFlorida?</strong></h4>
	
	<%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
		
		<div class="form-group">
			<label>Email</label>
			<%= f.email_field :email, :class => 'form-control title', :placeholder => Spree.t(:email) %>
		</div>
		<div class="form-group">
			<%= f.submit Spree.t(:continue), :class => 'btn btn-lg btn-success btn-block' %>
		</div>
	<% end %>
</div>