<style>
	/* Padding - just for asthetics on Bootsnipp.com */
	body { margin-top:20px; }

	/* CSS for Credit Card Payment form */
	.credit-card-box .panel-title {
	    display: inline;
	    font-weight: bold;
	}
	.credit-card-box .form-control.error {
	    border-color: red;
	    outline: 0;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
	}
	.credit-card-box label.error {
	  font-weight: bold;
	  color: red;
	  padding: 2px 8px;
	  margin-top: 2px;
	}
	.credit-card-box .payment-errors {
	  font-weight: bold;
	  color: red;
	  padding: 2px 8px;
	  margin-top: 2px;
	}
	.credit-card-box label {
	    display: block;
	}
	/* The old "center div vertically" hack */
	.credit-card-box .display-table {
	    display: table;
	}
	.credit-card-box .display-tr {
	    display: table-row;
	}
	.credit-card-box .display-td {
	    display: table-cell;
	    vertical-align: middle;
	    width: 50%;
	}
	/* Just looks nicer */
	.credit-card-box .panel-heading img {
	    min-width: 180px;
	}
	
	.credit-card-box > .input-group-addon {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.tabs-left ul.nav-tabs {
		margin-right: 0;
		width: 20%;
	}
	.tab-content {
		padding-left: 19px;
		width: 80%;
	}
</style>

<% if @payment_sources.present? %>
<div class="card_options">
	<%= radio_button_tag 'use_existing_card', 'yes' %>
	<label for="use_existing_card_yes">Use an existing card on file</label>
	<br/>
	<%= radio_button_tag 'use_existing_card', 'no', true %>
	<label for="use_existing_card_no">Use a new card / payment method</label>
</div>

<div id="existing_cards">
	<p class="field" data-hook="existing_cards">
		<table class="existing-credit-card-list">
			<tbody>
			<% @payment_sources.each do |card| %>
			<tr id="<%= dom_id(card,'spree')%>" class="<%= cycle('even', 'odd') %>">
				<td>&nbsp;<%= image_tag "dark_color/#{card.cc_type}.png", :style => "height:22px" %>&nbsp;</td>
				<td>&nbsp;<%= card.name %>&nbsp;</td>
				<td>&nbsp;****<%= card.last_digits %>&nbsp;</td>
				<td>&nbsp;<%= DateTime.new(card.year, card.month).strftime('%m') %>/<%= card.year %>&nbsp;</td>
				<td>&nbsp;
				<%= radio_button_tag "order[existing_card]", card.id, (card == @payment_sources.first), { class: "existing-cc-radio" }  %>
				&nbsp;</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	</p>
</div>
<hr/>
<% end %>

<!-- <div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4"> -->
			<div class="panel panel-default credit-card-box">
				
				<div class="panel-heading display-table" >
					<div class="row display-tr" >
						<h3 class="panel-title display-td" >Payment Details</h3>
						<div class="display-td" >
							<img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
						</div>
					</div>                    
				</div>
				
				<div class="panel-body">
					
						<div class="col-xs-12">
							<div class="form-group">
							<% param_prefix = "payment_source[#{payment_method.id}]" %>
								<%= label_tag "name_on_card_#{payment_method.id}", Spree.t(:name_on_card) %>
								<div class="input-group">
									<% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
									<%= text_field_tag "#{param_prefix}[name]", "#{@order.billing_firstname} #{@order.billing_lastname}", { id: "name_on_card_#{payment_method.id}", :class => 'form-control required'} %>
									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								</div>
							</div>                            
						</div>
						
						
						<div class="col-xs-12">
							<div class="form-group">
							<% param_prefix = "payment_source[#{payment_method.id}]" %>
								<%= label_tag "card_number", Spree.t(:card_number) %>
								<div class="input-group">
									<% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
									<%= text_field_tag "#{param_prefix}[number]", '', options_hash.merge(:id => 'card_number', :class => 'form-control required cardNumber', :size => 19, :maxlength => 19, :autocomplete => "off") %>
									<span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></span>
								</div>
								<span id="card_type" style="display:none;">
									( <span id="looks_like" ><%= Spree.t(:card_type_is) %> <span id="type"></span></span>
									<span id="unrecognized"><%= Spree.t(:unrecognized_card_type) %></span>
									)
								</span>
							</div>                            
						</div>
						
						<div class="col-xs-7 col-md-7">
							<div class="form-group">
							<%= label_tag "card_expiry", Spree.t(:expiration) %>
							<%= text_field_tag "#{param_prefix}[expiry]", '', :id => 'card_expiry', :class => "form-control required cardExpiry", :placeholder => "MM / YYYY" %>
							</div>
						</div>
					
						<div class="col-xs-5 col-md-5 pull-right">
							<div class="form-group">
								<%= label_tag "card_code", Spree.t(:card_code) %>
								<%= text_field_tag "#{param_prefix}[verification_value]", '', options_hash.merge(:id => 'card_code', :class => 'form-control required cardCode', :size => 5) %>
								<%= link_to "(#{Spree.t(:what_is_this)})", spree.content_path('cvv'), :target => '_blank', "data-hook" => "cvv_link", :id => "cvv_link" %>
							</div>
						</div>
					
					</div>
					
					<%= hidden_field_tag "#{param_prefix}[cc_type]", '', :id => "cc_type", :class => 'ccType' %>
				
					<div class="row" style="display:none;">
						<div class="col-xs-12">
							<p class="payment-errors"></p>
						</div>
					</div>
					
					
				
			</div>
			<!-- CREDIT CARD FORM ENDS HERE -->
			
		<!-- </div>
	</div>
</div> -->