<%= form_for :order, :url => populate_orders_path do |f| %>
<div class="row no-margin-right" id="inside-product-cart-form" data-hook="inside_product_cart_form">
		
	<div class="panel panel-default no-margin-right">
		
		<div class="panel-body">
	
		<% if @product.price_in(current_currency) and !@product.price.nil? %>
	
			<div data-hook="product_price">
		
				<div id="product-price" class="text-right">
				
					<h5 class="line_item" itemprop="sku" href="http://schema.org/sku" /><strong>SKU:</strong> <%= @product.master.sku %></h5>
				
					<span class="availability text-right">
					<% if @product.master.can_supply? %>
						<h5 class="line_item" itemprop="availability" href="http://schema.org/InStock" /><strong>Availability:</strong> IN STOCK</h5>
					<% elsif @product.variants.empty? %>
						<h5 class="line_item"><strong>Availability:</strong> <%= Spree.t(:ships_in_2_to_4_business_days) %></h5>
					<% end %>
					</span>
			
					<hr/>
			
					<%if @product.master.msrp %>
					<span class="price msrp text-right" itemprop="msrp">
						<h5 class="line_item text-danger"><s><strong>MSRP:</strong> <%= number_to_currency(@product.master.msrp, :unit => "$") %></s></h5>
						<h5 class="line_item"><strong>Savings:</strong> <%= number_to_currency(@product.master.msrp - @product.master.price, :unit => "$") %></h5>
					</span>
					<% end %>
				
					<hr/>
				
					<span class="price text-right" itemprop="price">
						<h4 class="line_item" itemprop="priceCurrency" content="<%= @product.currency %>"><strong>Only:</strong> <%= display_price(@product) %></h4>
					</span>
			
				</div>
		
				<% if @product.variants_and_option_values(current_currency).any? %>
				<div id="product-variants">
					<%= select_tag "variant_id", options_for_select(@product.variants_and_option_values(current_currency).collect{|v| ["#{variant_options(v)}  #{variant_price(v)}", v.id]}), :class => "form-control"%>
				</div>
				<% else %>
					<%= hidden_field_tag "variant_id", @product.master.id %>
				<% end %>
		
				<div class="add-to-cart">
			
					<div class="input-group">
						<%= number_field_tag :quantity, 1, :class => 'title form-control', :min => 1 %>
						<span class="input-group-btn">
							<%= button_tag :class => 'btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
								<%= Spree.t(:add_to_cart) %>
							<% end %>
						</span>
					</div>
				
				</div>
			
			</div>
		
			</div>

		<% else %>
	
			<div id="product-price">
				<span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span>
			</div>
	
		<% end %>
	
	</div>
	
</div>
<% end %>