<% cache [I18n.locale, current_currency, @product] do %>
	
	<div id="product-show" class="row col-md-4" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
		
		<% @body_id = 'product-details' %>
		
		<div id="product-images" data-hook="product_images">
			
			<div id="main-image" class="thumbnail" data-hook>
				<%= render :partial => 'image' %>
			</div>
		
			<div id="thumbnails" data-hook>
				<%= render :partial => 'thumbnails' %>
			</div>
			
			<div data-hook="email_to_friend">
				
			</div>
			
			<div data-hook="product_properties">
				<%= render :partial => 'properties' %>
			</div>
			
			<% @product.documents.each do |doc| %>
				<%= link_to doc.alt, doc.attachment_file_name %>
			<% end %>
			
		</div>
		
	</div>
	
	<div class="col-md-8" id="product-description" data-hook="product_description">
		
		<h2 class="page-header"><%= @product.name %> 
			<% @product.taxons.where([ 'permalink LIKE ?' , 'brand/%' ]).each do |t| %>
				<%= image_tag(t.icon(:normal), :class => "pull-right") %>
			<% end %>
		</h2>
		
		
		<div class="row">
			
			<div itemprop="description" data-hook="description" class="col-md-8">
				<%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
			</div>
		
			<div id="cart-form" data-hook="cart_form" class="col-md-4">
				<%= render :partial => 'cart_form' %>
			</div>
		</div>
		
		<hr/>
		
		<div data-hook="related_taxons">
			<%= render :partial => 'taxons' %>
		</div>
		
		<hr/>
		
		<div data-hook="related_products">
			<%= render :partial => "spree/shared/related_products", :locals => {:product => @product} %>
		</div>
		
		<div data-hook="product_reviews">
			
		</div>
		
		<div data-hook="promotions">
			<%= render :partial => 'promotions' %>
		</div>
		
	</div>
	
<% end %>