<%# render inline: Spree::Page.find_by_slug("/").body.html_safe %>

<% if Spree::Taxon.find_by(:name => "Product Type") and !Spree::Taxon.find_by(:name => "Product Type").children.nil? %>	
	<% Spree::Taxon.find_by(:name => "Product Type").children.each do |brand| %>
	<div class="col-md-3 col-sm-4">
		<div class="panel panel-default">
			<%= link_to(seo_url(brand)) do %>
			<div class="panel-body text-center">
				<%= image_tag(brand.icon(:normal), :class => "product_type_showcase") %>
			</div>
			<div class="panel-footer">
				Shop <%= brand.name %>
			</div>
			<% end %>
		</div>
	</div>
	<% end %>
<% end %>

<hr/>

<div class="col-md-12 logos">
	
	<% ["Brother", "Canon", "Copystar", "Epson"].each do |brand| %>

		<% found_brand = Spree::Taxon.find_by(:name => brand) %>
		
		<% unless found_brand.nil?%>
	
			<%= link_to(seo_url(found_brand), :class => "logo col-sm-4 col-md-3") do %>
				<%= image_tag(found_brand.icon(:normal), :class => "logo") %>
			<% end %>
			
		<% end %>
		
	<% end %>
	
	<% ["HP", "Konica Minolta", "3M"].each do |brand| %>

		<% found_brand = Spree::Taxon.find_by(:name => brand) %>
		
		<% unless found_brand.nil?%>
	
			<%= link_to(seo_url(found_brand), :class => "logo col-sm-4 col-md-4") do %>
				<%= image_tag(found_brand.icon(:normal), :class => "logo #{cycle('pull-right', '','pull-left')}") %>
			<% end %>
			
		<% end %>
		
	<% end %>
</div>