<%# render inline: Spree::Page.find_by_slug("/").body.html_safe %>



	
<% Spree::Taxon.find_by(:name => "Product Type").children.each do |brand| %>
<div class="col-md-3 col-sm-4">
	<div class="panel panel-default">
		<%= link_to(seo_url(brand), :class => "") do %>
		<div class="panel-body text-center">
			<%= image_tag(brand.icon(:normal), :class => "") %>
		</div>
		<div class="panel-footer">
			Shop <%= brand.name %>
		</div>
		<% end %>
	</div>
</div>
<% end %>

<hr/>

<div class="col-md-12 logos">
	
	<% Spree::Taxon.find_by(:name => "Brand").children.each do |brand| %>
	
		<%= link_to(seo_url(brand), :class => "logo col-sm-4 col-md-3") do %>
			<%= image_tag(brand.icon(:normal), :class => "logo") %>
		<% end %>
		
	<% end %>
	
</div>