<%# filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.taxons_below(Spree::Taxon.find_by_name("Product Type"))] %>

<ul id="accordion" class="filters panel panel-default no-margin-left no-margin-right" role="tablist" aria-multiselectable="false">
<% Spree::Taxon.find_by(:name => "Product Type").children.each do |filter| %>
	
	<div class="panel-heading">
		<div class="panel-tite">
			<a href="#<%= filter.id %>" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="<%= filter.id %>"><strong><%= filter.name %></strong></a>
		</div>
	</div>
	
	<% if filter.children.count > 0 %>
	<div class="panel-collapse collapse" id="<%= filter.id %>" role="tabpanel">
		
		<ul class="list-group">
		
		<% filter.children.each do |child| %>
			<li class="list-group-item">
				<a href="#<%= child.id %>" role="button" data-toggle="collapse" data-parent="<%= filter.id %>" aria-expanded="true" aria-controls="<%= child.id %>"><strong><%= child.name%> <span class="glyphicon glyphicon-chevron-down pull-right"></span></strong></a>
			</li>
			
			<% if child.children.count > 0 %>
			<div class="collapse sub-menu" id="<%= child.id %>" role="tabpanel">
				
				<% child.children.each do |grandchild| %>
				
				<li class="list-group-item">
					<a href="<%= seo_url(grandchild) %>" data-parent="<%= child.id %>" aria-expanded="true">
						<%= grandchild.name %>
					</a>
				</li>
				
				<% end %>
				
			</div>
			
			<% end %>
			
		<% end %>
		
		</ul>
		
	</div>	
	<% end %>
	
<% end %>
</ul>
